{% extends 'base.html' %}

{% block head %}
<style>
        .list {
            width: 50px;
        }

        span {
            align-self: flex-end;
        }
        
        #container {
            color: white;
            text-align: justify;
            display: flex;
            align-items: center;
            width: clamp(100px, 90%, 1000px);
            margin-bottom: 20px;
            margin-top: 20px;

            background-color: var(--background2);
            border-radius: 8px;
            padding: 12px 12px 12px 12px;
        }

        img {
            width: 210px;
            height: 210px;
            margin-right: 10px;
            vertical-align: middle;
            border-radius: 8px;
        }
        
        .list {
            margin-right: 10px;
        }

        #description {
            margin-top: 0;
            margin-bottom: 0;
        }

        .saw {
            background-color: var(--accent2);
        }

        @media only screen and (max-width: 520px) {
            .list {
                width: 40px;
                height: 15px;
                margin-right: 1px;
                margin-bottom: 1px;
            }

            img {
                height: 150px;
            }

            #container {
                font-size: 10px;
            }

            .list {
                font-size: 10px;
            }
        }

        @media only screen and (min-width: 1200px) {
            .list {
                width: 90px;
                height: 30px;
                font-size: 20px;
            }

            #container {
                font-size: 20px;
            }
        }
    </style>
{% endblock %}

{% block body %}

    <center>
        <div id="container">
            <img src="{{episode_data.image}}">
            <p id="description">{{episode_data.description}}</p>
        </div>
    </center>

    <center>

    {% for index, episode in enumerate(episode_data.episodes) %}
        <button
        class="list"
        onclick="location.href = '/play?episode={{episode.id}}&anime={{anime_id}}'"
        episode="{{anime_id}}/{{episode.id}}">
            {{episode.title}}
        </button>

        {% if (index + 1) % 8 == 0 %}
            </center><br><center>
        {% endif %}

    {% endfor %}

    <script>
        let buttons = document.getElementsByClassName("list");

        for (let i = 0; i < buttons.length; i++) {
            let id = buttons[i].getAttribute("episode");

            if(localStorage.getItem(id)) {
                buttons[i].classList += " saw";
            }
        }
    </script>

{% endblock %}
