
{% extends 'base.html' %}

{% block head %}

    <style>
        video {
            width: clamp(1px, 90%, 1600px);
            border-radius: 8px;
        }
        
        .control_btn {
            margin-top: 10px;
            width: 120px;
        }

        #not_saw_btn {
            margin-left: 10px;
        }
    </style>

{% endblock %}

{% block body %}

    <center>
        <div id="playdiv">
            <video autoplay="autoplay" controls>
                <source src="{{download_link}}" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2">
            </video>
        </div>
    </center>

    <center>
        <div id="control_btns">
            <button id="saw_btn" class="control_btn">L'ho visto</button>
            <button id="not_saw_btn" class="control_btn">Non l'ho visto</button>
    
            <br>
            <button id="back_btn" class="control_btn">Indietro</button>
        </div>
    </center>

    <script>
        if(localStorage.getItem("{{anime_id}}/{{episode_id}}") == "saw") {
            document.getElementById("saw_btn").disabled = true
            document.getElementById("not_saw_btn").disabled = false
        } else {
            document.getElementById("saw_btn").disabled = false
            document.getElementById("not_saw_btn").disabled = true
        }

        saw_btn.addEventListener("click", () => {
            localStorage.setItem("{{anime_id}}/{{episode_id}}", "saw")
        });
        not_saw_btn.addEventListener("click", () => {
            localStorage.removeItem("{{anime_id}}/{{episode_id}}")
        });

        back_btn.addEventListener("click", () => {
            location.href = "/episodes?anime={{anime_id.split('/')[0]}}"
        })
    </script>

{% endblock %}
