{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <center>

    {% for index in range( len(episode_codes) ) %}
        <button class="list" onclick="location.href = '{{episode_codes[index]}}'">{{episode_names[index]}}</button>

        {% if (index + 1) % 8 == 0 %}
            </center><br><center>
        {% endif %}

    {% endfor %}

    <script>
        var buttons = document.getElementsByClassName("list");
        for (let i = 0; i < buttons.length; i++) {
            if(localStorage.getItem(buttons[i].getAttribute("onclick").split("'")[1].split("=")[1]) == "saw") {
                buttons[i].classList += " saw"
            }
        }
    </script>

{% endblock %}